.elements{
   display: inline-block;
   width: 25%;
}
.buy, #buttonDo , #open_adminModal{
  background: green;
  padding: 10px 15px;
  border-radius: 6px;
  border: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
#open_adminModal{
  background: red;
  }
#category {margin-right: 7%; margin-left: 7%; color: red;}
#categoryPaste,#categoryRisotto, #categoryDessert, #categoryPizza {color: green; margin-left: 7%;}
#category a { padding: 2px 6px; border: 1px solid #A74C10; }
#category a:hover, #category a.current { background: #A74C10; color: white; }
@media screen and (min-width:750px) and (max-width:1023px) {
.elements{
   display: inline-block;
   width: 33%;
}
.elements h1{
  font-size: 30px;
}
}
@media screen  and (max-width:749px) {
.elements{
   display: inline-block;
   width: 50%;
}
.elements h1{
  font-size: 25px;
}
.buy{
  margin-top: 0;
  font-size: 70%;
}
#category{
  font-size: 80%;
}
#open_adminModal{
  font-size: 80%;
}
}
 .menu ul, li {
    display: inline-block;
    vertical-align: top;
    list-style: none:
    margin: 0;
    padding: 0;
}
 .menu li {
      text-align: center;
      width: 90%;
}
img { max-width: 100%; }

.forClone{
	display: block;
	width: 70%;
	text-align: center;
	   margin: 0 auto; 

}



.nextPrev a {
    text-decoration: none;
    display: inline-block;
    color: green;
}


.nextPrev .previousButton {
    position:absolute;
    left: 15px;
    bottom: 50%;
    font-size: 400%;
    border-radius: 50%;
}

.nextPrev .nextButton {
    position:absolute;
    right: 15px;
    bottom: 50%;
    font-size: 400%;
    border-radius: 50%;
}



.adminContent input{
  height:25px;
}
.adminContent p{
  margin-top: 10px;
}


#contentTitle{
   height:30px;
}

#forAddContainer{
  margin-bottom: 5px;
}
#adminModal .modal-content{
  background: #8ab379;
}
