html{
	min-width: 550px;
}
body{
	background: #21ff1e26;
}
@font-face {
  font-family: 'Vanessa';
  src: url('../fonts/Vanessa.eot?#iefix') format('embedded-opentype'),  url('../fonts/Vanessa.woff') format('woff'), 
  url('../fonts/Vanessa.ttf')  format('truetype'), url('../fonts/Vanessa.svg#Vanessa') format('svg');
  font-weight: normal;
  font-style: normal;
}
h2{
	font-size: 38px;
}
.container{
	margin-bottom: -20px;
	max-width: 100%;
}
.top {
	top:0;
	width: 100%;
	background: orange;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	margin-bottom: 15px;
}
.navbar p{
	text-align: center;
}
button{
	background: red;
	color: white;	
}

.phones p{
	margin: 0;
}
@media screen and (min-width:1024px) and (max-width:1366px) {
#phone{
	display: inline-block;
	font-size: 54px;
	vertical-align: middle;
	margin-top: -10px;
}
.btn-group-lg>.btn, .enter button{
	padding: 10px 15px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;	
}
#logo{
	max-width: 90%;
	font-family: 'Vanessa';
	font-weight: 500;
	color: #d20073;
	font-size: 400%;
	display: inline-block;
	text-align: center;
}
}
@media screen and (min-width:800px) and (max-width:1023px) {
#phone{
	display: inline-block;
	font-size: 40px;
	vertical-align: middle;
	text-align: center;
}
.btn-group-lg>.btn, .enter button{
	padding: 5px 10px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 15px;	
}
#logo{
	max-width: 90%;
	font-family: 'Vanessa';
	font-weight: 500;
	color: #d20073;
	font-size: 300%;
	display: inline-block;
	text-align: center;
}
p{
	font-size: 90%;
}
}
@media screen and (min-width:700px) and (max-width:799px) {
#phone{
	display: inline-block;
	font-size: 34px;
	vertical-align: middle;
	text-align: center;
}
.btn-group-lg>.btn, .enter button{
	padding: 5px 10px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 13px;	
}
#logo{
	max-width: 90%;
	font-family: 'Vanessa';
	font-weight: 500;
	color: #d20073;
	font-size: 250%;
	display: inline-block;
	text-align: center;
}
p{
	font-size: 80%;
}
}
@media screen and (min-width:650px) and (max-width:699px) {
#phone{
	display: inline-block;
	font-size: 30px;
	vertical-align: middle;
	text-align: center;
}
.btn-group-lg>.btn, .enter button{
	padding: 5px 10px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 11px;	
}
#logo{
	max-width: 90%;
	font-family: 'Vanessa';
	font-weight: 500;
	color: #d20073;
	font-size: 200%;
	display: inline-block;
	text-align: center;
}
p{
	font-size: 70%;
}
}
@media screen and (min-width:600px) and (max-width:649px) {
#phone{
	display: inline-block;
	font-size: 25px;
	vertical-align: middle;
	text-align: center;
}
.btn-group-lg>.btn, .enter button{
	padding: 5px 10px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 10px;	
}
#logo{
	max-width: 90%;
	font-family: 'Vanessa';
	font-weight: 500;
	color: #d20073;
	font-size: 180%;
	display: inline-block;
	text-align: center;
}
p{
	font-size: 60%;
}
}
@media screen and (max-width:599px) {
#phone{
	display: inline-block;
	font-size: 25px;
	vertical-align: middle;
	text-align: center;
}
.btn-group-lg>.btn, .enter button{
	padding: 5px 10px;
	border-radius: 6px;
	border: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 9px;	
}
#logo{
	max-width: 90%;
	font-family: 'Vanessa';
	font-weight: 500;
	color: #d20073;
	font-size: 170%;
	display: inline-block;
	text-align: center;
}
p{
	font-size: 55%;
}
}
.enter p{
	margin: 5px;
}

}

.empty{
	
}

.navbarRegistration{
	width: 100%;
	text-align: center;
	padding: 0;
	font-size: 200%;
	background: #4c2c2c;
}

#loginModal .modal-body, #loginModal .modal-header {
	background: #826464;
}


#loginModal .modal-body input{
	height:20px;
}
#loginModal .modal-body span{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
	padding-left: 25px;
}

.forMiddleButton{
	text-align: center;
	padding-top: 15px;
}

#forMiddleButton button{
	min-width: 100px;
}
#loginModal .modal-header{
	padding: 0;
	border-bottom: 0;

}

#forLogin{
	padding-top: 10px;
	padding-bottom: 50px;
}

.navbarRegistration .row{
	margin: 0;
	color: #999999;
 	text-decoration: none;
}
.scrollup{
width:40px;
height:40px;
opacity:0.3;
position:fixed;
bottom:50px;
right:100px;
display:none;
text-indent:-9999px;
background: url('../img/up.png') no-repeat;
}

